<!doctype html>

<html lang="ru">
<head>
    <meta charset="utf-8">

    <title>{% if title %}{{ title }}{% endif %}</title>
    <meta name="author" content="svi framework">

    <link rel="stylesheet" href="{{ asset('base/css/base.css') }}">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="/"></a>
        </div>
    </header>
    <main>{% block content %}{% endblock %}</main>
</body>
</html>