<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<p><b>Здравствуйте!</b></p>

{% block content %}{% endblock %}

<p>
    С уважением,<br>
    команда {{ sitename }}
</p>
</body>
</html>